body, html {
  width: 100%;
  height: 100%;
}

.active-button {
  background-color: #0069D9;
}

.inactive-button {
  background-color: #5A6268;
}

.on-button, .off-button {
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.results-container {
  max-width: 1000px;
  margin: auto;
}

.on-off-buttons {
  display: flex;
  justify-content: flex-end;
}

article {
  width: 100%;
  float: left;
}

.options-container {
  margin-top: 2em;
  border: solid grey 1px;
  border-radius: 3px;
  padding: 10px;
  display: none;
}

.options-container .option {
  display: flex;
  justify-content: space-between;
}

.options-container .option span {
  margin-top: 6px;
}

aside {
    right: 0;
    top: 0;
    position: fixed;
    display: none;
    width: 29%;
    border-left: solid black 1px;
    float: right;
    height: 100vh;
    padding-left: 1em;
}

/* Pagination links */
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination a {
 cursor: pointer;
 color: black;
 float: left;
 padding: 8px 16px;
 text-decoration: none;
 transition: background-color .3s;
}

.cosine {
  background-color: tomato;
  padding: 2px;
  color: white;
  border-radius: 5px;
}

/* Style the active/current link */
.pagination a.active {
 background-color: dodgerblue;
 color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.question {
  color: blue;
}

.answer {
  margin-left: 1em;
}

.logo-container {
  margin: 100px auto;
  width: 500px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.logo-container .main-search-input {
  min-width: 100%;
}

.button-container{
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
