<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <title></title>
  </head>
  <body>
  <main>
    <article>
      <div class="logo-container">
        <img src="{{ url_for('static', filename='assets/img/booble-logo.gif') }}"/>
        <input type="text" class="main-search-input"/>
        <div class="button-container">
          <button class="search-button">Recherche Boogle</button>
          <select class="method-select">
            <option value="expansion">Expension de requête</option>
            <option value="cosine">Cosine similarity</option>
          </select>
          <button class="option-button">Paramètre</button>
        </div>
        <div class="options-container">
          <div class="option">
            <span>Afficher les logs</span>
            <div class="on-off-buttons">
              <button class="on-button inactive-button">On</button>
              <button class="off-button active-button">Off</button>
            </div>
          </div>
          <button class="validate-options">Valider</button>
        </div>
      </div>
      <div class="results-container">

      </div>
      <div class="pagination"></div>
    </article>
    <aside class="logs-container">

    </aside>
  </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>
  </body>
</html>
